<p><%= t("welcome.promotion") %></p>
<p id="notice"><%= notice %></p>
<div class="main_form">
  <% if @card.nil? %>
    <p><%= t("welcome.nothing_to_repeat") %></p>
    <p><%= t("welcome.current_deck_is_empty") %></p>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>