<p id="notice"><%= notice %></p>

<div class="panel panel-default">

  <div class="panel-heading"><%= @deck.name %></div>

  <table class="table">

    <tr>
      <th><%= t("card.view.column_name.original_text") %></th>
      <th><%= t("card.view.column_name.translated_text") %></th>
      <th><%= t("card.view.column_name.review_date") %></th>
    </tr>
    <% @deck.cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.day.to_s << "/" << 
        card.review_date.month.to_s << "/" << 
        card.review_date.year.to_s %></td>
        <td><%= link_to t("views.button.edit"), edit_card_path(card) %></td>
        <td><%= link_to t("views.button.destroy"), card_path(card), 
        method: :delete, 
        data: {confirm: t("confirm")} %></td>
      </tr>
    <% end %>

  </table>

</div>
<%= link_to t("views.button.back"), decks_path %>