<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="container">

    <header class="navbar">
      <h1 id="logo"><%= link_to "Флэшкарточкер", root_path %></h1>
      <ul class="nav nav-pills pull-right">
        <% if current_user %>
          <li> <%= link_to "Редактировать профиль", edit_user_path(current_user.id) %> </li>
          <li> <%= link_to "Выйти", :logout, method: :post %> </li>
        <% else %>
          <li> <%= link_to "Регистрация", new_user_path, id: "registration" %> </li>
          <li> <%= link_to "Войти", :login, id: "login" %> </li>
        <% end %>
        <li><%= link_to "Все карточки", cards_path %></a></li>
        <li><%= link_to "Добавить карточку", new_card_path %></a></li>
      </ul>
    </header>

  

	<%= yield %>

	</section>
</body>
</html>
