<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="container">

    <header class="navbar">
      <h1 id="logo"><%= link_to t("layouts.application.app_name"), root_path %></h1>
      <ul class="nav nav-pills pull-right">
        <% if current_user %>
          <li> <%= link_to t("layouts.application.my_decks"), decks_path, id: "decks" %> </li>
          <li> <%= link_to t("layouts.application.edit_profile"), edit_user_path(current_user.id) %> </li>
          <li> <%= link_to t("layouts.application.log_out"), :logout, method: :post %> </li>
        <% else %>
          <li> <%= link_to t("layouts.application.registration"), new_user_path, id: "registration" %> </li>
          <li> <%= link_to t("layouts.application.log_in"), :login, id: "login" %> </li>
        <% end %>
        <li>
          <div>
            <%= link_to "en", locale: "en" %><br/>
            <%= link_to "ru", locale: "ru" %>
          </div>
        </li>
      </ul>
    </header>

	<%= yield %>

	</section>
</body>
</html>
